.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #3A4856;
}

.select {
    min-height: 4rem;
    background-color: #C3CAD2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    gap: 10px;
    width: 350px;
    margin: 5px 0;
}

@media screen and (max-width: 700px) {
    .filter {
        justify-content: space-between;
    }
    .select {
        gap: 0;
    }
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.group label, .group input {
    cursor: pointer;
}

#dropdown {
    height: 2rem;
    width: 300px;
}

.content {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: space-evenly;
    justify-content: center;
    gap: 20px;
}

.map-container {
    background-color: #3A4856;
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    flex: 1;
    min-height: 400px;
    max-width: max(60%, 500px);
}

/**/

